# MSVC / Visual Studio
.vs/
*.ipch

# CMake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
build/
build_test/

# Compiled outputs (Global ignores)
*.com
*.class
*.o
*.obj
*.pdb
*.ilk
*.exp

# IDE
.vscode/
*.user

# Doxygen
**/html/
**/latex/