# MSVC / Visual Studio
.vs/
*.ipch

# CMake
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
build/
build_test/
static_release/
dynamic_release/

# Compiled outputs
*.com
*.class
*.dll
*.exe
*.o
*.obj
*.so
*.pdb
*.ilk
*.exp
*.lib

# IDE
.vscode/
*.user

# Doxygen
**/html/
**/latex/