VTK-9.6.0.tar.gz
VTK-9.6.0/
VTK-Build/
*_autogen/
ipch/
.vs/
build/
bin/
lib/
out/
x64/
Debug/
Release/
*.vcxproj
*.vcxproj.*
*.sln
*.slnx
*.dir/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
ZERO_CHECK.*
ALL_BUILD.*
